/*Custom*/

.lf {
    font-weight: 300;   
}

.lf p,
.lf nav {
    font-weight: 400;   
}

/*Custom - Demo */
.lf .headerDemo {
	margin-top: 0 !important;
}

.lf .colorDemo span {
	margin-bottom: 20px;
	display: block;
	width: 100%;
	font-weight: bold;
	padding: 1rem;
    border-radius: 5px;
}

.lf .buttonDemo li {
	width: 100%;
	margin-bottom: 1.414rem;
}

.lf .columnDemo span {
	margin-bottom: 20px;
	display: block;
	width: 100%;
	font-weight: bold;
	border: 1px solid #AAA;
	padding: 0.5rem;
	text-align: center;
}