/*HTML Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, rem, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, rembed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, main, hgroup, menu, nav, section {
	display: block;
}

/* Colors */
.white { background-color: #fff !important; }
.black { background-color: #000 !important; }
.gray { background-color: #777 !important; }
.light_gray { background-color: #AAA !important; }
.dark_gray { background-color: #444 !important; }

.blue { background-color: #1195AA !important; }
.light_blue { background-color: #16C2DD !important; }
.dark_blue { background-color: #1B3E44 !important; }

.green { background-color: #00AA63 !important; }
.light_green { background-color: #00F690 !important; }
.dark_green { background-color: #007745 !important; }


.red { background-color: #F62319 !important; }
.light_red { background-color: #F76A63 !important; }
.dark_red { background-color: #AA1A00 !important; }

.light { color: #fff !important; }
.dark { color: #222 !important; }

/* The Basics */
*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
	width: 100%;
}

html {
	box-sizing: border-box;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	line-height: 1;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	line-height: 1.75;
	overflow-y: scroll;
	color: #444;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
    border-bottom: 1px solid rgba(51,51,51, 0.25);
	background-color: #fff;
}

nav a {
	text-decoration: none;
	color: #00aa63;
}

.container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	overflow: auto;
	zoom: 1;
}

.container:before,
.container:after,
.row:before,
.row:after {
	content: " ";
	display: table;
}

.container:after,
.row:after {
	clear: both;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 1.414rem;
	margin-top: 1.414rem;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	min-height: 1px;
	position: relative;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

/* Typography */
h1, h2, h3, h4, h5, h6, p {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
  margin-bottom: 20px;
}

h1 {
  margin-top: 0;
  font-size: 6.854rem;
}

h2 {
	font-size: 4.236rem;
	margin-top: 0;
	opacity: 0.9;
}

h3 {
	font-size: 2.618rem;
	opacity: 0.8;
}

h4 {
	font-size: 1.618rem;
	opacity: 0.7;
}

p {
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
}

a {
	text-decoration: none;
	color: #1195AA;
}

.text-center {
	text-align: center;
}

small, .font_small {
	font-size: 0.618rem;
}

ul li {
	display: inline;
	float: left;
	margin-right: 20px;
}

.vlist li {
	padding: 0.618rem 0;
	display: block;
	width: 100%;
	clear: both;
	overflow: hidden;
}


.fvlist li {
	padding: 0.618rem;
	display: block;
	width: 100%;
	clear: both;
	overflow: hidden;
	border-top: 1px solid #AAA;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
}

.fvlist li:first-child {
	border-radius: 5px 5px 0px 0px;
}

.fvlist li:last-child {
	border-radius: 0px 0px 5px 5px;
	border-bottom: 1px solid #777;
}


hr {
	border: none;
	border-bottom: 1px solid rgba(68,68,68,0.25);
	clear: both;
	margin: 20px 0 19px 0;
	width: 100%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

/* Forms */
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=password],
input[type=date],
select {
	background: #FFF;
	background-clip: padding-box;
	border: #AAA 1px solid;
	border-top: #777 1px solid;
	border-radius: 4px;
	display: block;
	font-size: 16px;
	height: 40px;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
}

select {
	background-image: url('data:image/gif;base64,R0lGODlhFAAUALMAAP////r6+vT09O3t7eTk5Nvb29nZ2dbW1tTU1NHR0c/Pz6Skq5qaolVVYgAAAAAAACH5BAEHAAAALAAAAAAUABQAAARHEMhJaw02W6G7HNrCdES2NM2YFdaJpplRuS9cHRRd2xPidYmfRiHMBIsV30RXU01wuR1vIps1VyaUs1IybSsgJIUjnmDKkggAOw==');
	background-position: center right;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=text]:focus {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(17, 149, 170, 0.35);
	box-shadow: 0px 0px 10px 0px rgba(17, 149, 170, 0.35);
	border: #1195AA 1px solid;
	outline: 0;
}

select:focus {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(17, 149, 170, 0.35);
	box-shadow: 0px 0px 10px 0px rgba(17, 149, 170, 0.35);
	border: #1195AA 1px solid;
	outline: 0;
}

button, .button, input[type=submit] {
	border: none;
    border-radius: 4px;
    color: white;
    float: left;
	font-size: 1rem;
	line-height: 20px;
	margin: 0;
	margin-right: 10px;
    padding: 10px 20px 10px 20px;
	text-align: center; 
    text-decoration: none;
	width: 100%;
}

.button_default {
	background-color: #00aa63;
}

#_auth {
	float: right;
}

._auth_loggedin a  {
	margin-left: 20px;
}

.sidebar {
	padding-left: 30px;
}

/* Demo CSS */
.headerDemo {
	margin-top: 0 !important;
}

.colorDemo p {
	font-weight: bold;
	border: 1px solid #AAA;
	padding: 0.5rem;
}

.buttonDemo li {
	width: 100%;
	margin-bottom: 1.414rem;
}

.columnDemo .col-1,
.columnDemo .col-2,
.columnDemo .col-3,
.columnDemo .col-4,
.columnDemo .col-5,
.columnDemo .col-6,
.columnDemo .col-7,
.columnDemo .col-8,
.columnDemo .col-9,
.columnDemo .col-10,
.columnDemo .col-11,
.columnDemo .col-12 {
	background-color: #AAA;
	text-align: center;
	font-weight: bold;
	color: #fff;
}